name: Docker Image CI

on:
  push:
    branches:
      - main

jobs:
  test-build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies (including test deps)
        run: poetry install --no-root

      - name: Start service
        run: |
          nohup poetry run uvicorn app.main:app --host 0.0.0.0 --port 8001 &
          # Wait a few seconds to give the service time to start
          sleep 5

      # --- Run tests ---
      - name: Run tests
        run: poetry run pytest --maxfail=1 --disable-warnings -v

      # --- Docker steps ---
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract short SHA
        id: vars
        run: echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/aihawk-startup/auth_service:pre
            ghcr.io/aihawk-startup/auth_service:${{ env.GITHUB_SHA_SHORT }}